<!DOCTYPE html>
<html>
<head>
    <title>Kancolle Broker</title>
    <link rel='stylesheet' href='/css/pure-0.6.0.min.css' />
    <style>
        .centered-form{
            margin: 100px auto;
            width:300px;
        }
        h1{
            text-align: center;
        }
        footer{
            position: absolute;
            right:10px;bottom:10px;
        }
    </style>
</head>
<body>
    <form class="centered-form pure-form pure-form-stacked" action="login">
        <h1>Kancolle broker</h1>
        <p style="color:gray">Login with your DMM account(email) &amp; password below.</p>
        <fieldset class="pure-group">
            <input class="pure-input-1" type="email" placeholder="DMM Account" name="login_id" id="login_id">
            <input class="pure-input-1" type="password" placeholder="Password" name="password" id="password">
        </fieldset>
        <fieldset>
            <label for="remember" class="pure-checkbox hidden" id="remember-box">
                <input id="remember" type="checkbox"> Remember me
            </label>
            <label for="redirect-i" class="pure-radio">
                <input id="redirect-i" type="radio" name="redirect" checked> Load in iframe (for KCV or 74EO)
            </label>
            <label for="redirect-r" class="pure-radio">
                <input id="redirect-r" type="radio" name="redirect"> Redirect (for Chrome)
            </label>
        </fieldset>
        <fieldset>
            <button type="submit" class="pure-button pure-button-primary pure-input-1">Sign in</button>
        </fieldset>
    </form>
    <iframe name="game_frame" width="900" height="1200" id="game_frame" src="about:blank" class="hidden" border="0" frameborder="0" scrolling="no" style="height: 610px;">艦隊これくしょん～艦これ～</iframe>
    <footer><a href="https://github.com/phoenixlzx/kancolle-broker">github</a></footer>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>
